Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteOptions MaxRedirects=1
RewriteBase /

# Forbid hidden files
RewriteRule ^\.|/\. - [F,L]

# Blog posts
#RewriteMap legacy txt:.rewrite/legacy.txt
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond (${legacy:$1|unknown}) !unknown
#RewriteRule %1 http://blog.magnetiq.com/post/${legacy:$2} [R=301,L]

# Other paths
RewriteRule ^bear http://ozakinci.net/ [R=301,L]
RewriteRule ^twofifty http://twofifty.net/ [R=301,L]
RewriteRule ^acb-spec|acb_format|PhotoshopColorBook|photoshopcolorbook /pages/acb-spec [R=301,L]
RewriteRule programs|^freeware http://magnetiq.com/pages/freeware [R=301,L]
RewriteRule acb2xml http://magnetiq.com/pages/freeware#acb2xml [NE,R=301,L]
RewriteRule burr?ito http://magnetiq.com/pages/freeware#burrito [NE,R=301,L]
RewriteRule e-?res-?q http://magnetiq.com/pages/freeware#eresq [NE,R=301,L]
RewriteRule win-?res-?q http://magnetiq.com/pages/freeware#winresq [NE,R=301,L]
RewriteRule \d/multiple-synthetic-lights http://magnetiq.com/pages/multiple-synthetic-lights [R=301,L]
#multi_light
RewriteRule \d/depth-of-field|Depth_of_Field http://magnetiq.com/pages/depth-of-field [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
