/* Layout */

.center_700 {
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}

body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

#header {
	padding: 10px;
}

#header h1 {
	margin-bottom: 10px;
}

#nav {
	margin-bottom: 40px;
	padding: 5px 0;
}

#nav  li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
}

#content {
	width: 720px;
	clear: left;
}

#content h2 {
	margin-bottom: 20px;
	clear: left;
}

#panels {
}

#panels li {
	width: 220px;
	margin-right: 20px;
	height: 296px;
	float: left;
	list-style-type: none;
}

#panels a {
	display: block;
	width: 220px;
}

#panels h3 {
	padding-top: 145px;
	margin-bottom: 5px;
}

.section_end {
	clear: left;
	margin-bottom: 20px;
	width: 700px;
	border-bottom: 1px solid #ccc;
}