/* Layout */

.center_700 {
	width: 700px;
	margin: 0 auto;
	xoverflow: hidden;
}

body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

#header {
	padding: 10px;
}

#header h1 {
	margin-bottom: 10px;
}

.nav {
	margin-bottom: 40px;
	padding: 5px 0;
}

.nav  li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
}

#content {
	width: 720px;
	clear: left;
}

#content h2 {
	margin-bottom: 20px;
	clear: left;
}

.clear {
	clear: left;
}

.grid_1 {
	width: 220px;
	float: left;
}

.grid_2 {
	width: 460px;
	margin-left: 240px;
}

.section {
	margin-bottom: 20px;
}

.section_end {
	clear: left;
	width: 700px;
	border-bottom: 1px solid #ccc;
}

.panels li {
	width: 220px;
	margin: 0 20px 20px 0;
	height: 276px;
	float: left;
	list-style-type: none;
	overflow: shown;
	/*border-bottom: 1px solid #eee;*/
}

.panels a {
	display: block;
	width: 220px;
}

.panels h3 {
	padding-top: 145px;
	xmargin-bottom: 5px;
}
