/* Typography */

body  {
	font: 100%/1.2 "Segoe UI",Arial,Helvetica,sans-serif;
}

a {
	text-decoration: none;
}

#content h2 {
	font-size: 150%;
	text-transform: uppercase;
}

#projects {
	font-size: 87.5%;
}

#projects h3 {
	font-style: italic;
}
