/* Typography */

body  {
	font: 100%/1.4 "Segoe UI",Arial,Helvetica,sans-serif;
}

a {
	text-decoration: none;
}

#projects {
	font-size: 75%;
}

#projects a {
	color: #333;
}

#projects a:hover {
	color: #999;
}
