/* Typography */

body  {
	font: 87.5%/1.2 "Segoe UI",Arial,Helvetica,sans-serif;
}

a {
	text-decoration: none;
}

#nav {
	xfont-weight: bold;
}

#nav h2 {
	font-size: 150%;
}

#content h2 {
	font-size: 150%;
	xtext-transform: uppercase;
}

#panels {
	xfont-size: 87.5%;
}

#panels h3 {
	font-style: italic;
}
