/* Colors and backgrounds */

body {
	background: #fff;
	color: #333;
}

.show_grid .fluid_700 {
	background: url(i/fluid_720_rhythm_18.gif);
}

#header, #footer {
	background: #333;
	color: #ccc;
}

a {
	color: #31A3C8;
}

a:visited {
	color: #5E8C9B;
}

a:hover {
	color: #5B31C8;
}

a:active {
	color: #333;
}

#header h1 a {
	background: url(i/logo_sprites.gif);
}

#header h1 a:hover {
	background-position: 0 -30px;
}

#title_desc.blog {
	background: url(i/desc_blog.gif) 100% 100% no-repeat;
}

#footer a {
	color: #31A3C8;
}

#footer a:hover {
	color: #fff;
}

li.panel {
	background: url(i/loading_white.gif) 50% 52px no-repeat;
}

a.panel {
	background-repeat: no-repeat;
}

a.panel:hover {
	background-color: #eee;
	color: #666;
}

.top_border {
	border-top: 1px solid #ccc;
}

.syntaxhighlighter {
	background: #eee !important;
}

.post_text code {
	background: #eee;
}

.post_text table {
	border: solid #ccc;
	border-width: 1px 1px 0 0;
}

.post_text th, .post_text td {
	background: #fff;
	border: solid #ccc;
	border-width: 0 0 1px 1px;
}

.post_text th {
	background: #ccc;
}
