/* Colors and backgrounds */

/*
	#31A3C8 light blue
	#C83D31 brick
*/

body {
	background: #fff;
	color: #333;
}

#header, #footer {
	background: #383838;
	color: #ccc;
}

#header .center_700 {
    background: url(i/mag_icon.png) 100% 50% no-repeat;
}

a {
	color: #31A3C8;
}

a:visited {
	color: #5E8C9B;
}

a:hover {
	color: #5B31C8;
}

#header a {
	color: #eee;
}

#header a:hover {
	color: #fff;
}

#footer a {
	color: #31A3C8;
}

#footer a:hover {
	color: #fff;
}

a.panel {
	background-repeat: no-repeat;
	padding-bottom: 10px;
	position: relative;
}

a.panel:hover {
	background-color: #f0f0f0;
	left: -10px;
	top: -10px;
	padding: 10px;
	background-position: 10px 10px;
	margin-bottom: -10px;
}

.top_border {
	border-top: 1px solid #ccc;
}

.syntaxhighlighter {
	border: solid #ccc !important;
	border-width: 1px 0 !important;
    /*border: 1px solid #eee !important;*/
}

.post_text code {
	background: #eee;
	padding: 0 0.25em;
}
