/* Colors and backgrounds */

/*
	#31A3C8 light blue
	#C83D31 brick
*/

body {
	background: #fff;
	color: #333;
}

#header, #footer {
	background: #383838;
	color: #aaa;
}

#header .center_700 {
    background: url(i/mag_icon.png) 100% 50% no-repeat;
}

#header a:hover {
	color: #fff;
}

a {
	color: #31A3C8;
}

a:visited {
	color: #247994;
}

a:hover {
	color: #7546DD;
}

a.panel {
	background-repeat: no-repeat;
	padding-bottom: 10px;
	position: relative;
}

a.panel:hover {
	background-color: #F1EBFF;
	left: -10px;
	top: -10px;
	padding: 10px;
	background-position: 10px 10px;
	margin-bottom: -10px;
}

.top_border {
	border-top: 1px solid #ccc;
}

.syntaxhighlighter {
    border: 1px solid #eee !important;
}
