/* Layout */

.center_700 {
	width: 700px;
	margin: 0 auto;
}

body, h1, h2, h3, p, ol, ul, li {
	margin: 0;
	padding: 0;
}

#header {
	padding: 10px;
}

#header h1 {
	margin-bottom: 10px;
}

.nav {
	margin-bottom: 40px;
	padding: 3px 0;
}

.nav  li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
}

#content h2 {
	margin-bottom: 20px;
	clear: left;
}

#footer {
	padding: 10px;
}

.clear {
	clear: left;
}

.grid_1 {
	width: 220px;
	float: left;
}

.grid_2 {
	margin-left: 240px;
}

.section {
	padding-bottom: 20px;
}

.panels {
	width: 720px;
}

.panels li {
	width: 220px;
	margin: 0 20px 20px 0;
	height: 276px;
	float: left;
	list-style-type: none;
}

a.panel {
	display: block;
	width: 220px;
	padding-bottom: 10px;
	position: relative;
}

a.panel:hover {
	left: -10px;
	top: -10px;
	padding: 10px;
	margin-bottom: -10px;
}

.panels h3 {
	padding-top: 145px;
}

#content h2 {
	width: 460px;
}

#disqus_thread {
	width: 460px;
}

.post_text p, .post_text ul, .post_text ol {
	width: 460px;
}

.post_text blockquote  {
	margin-left: 20px;
	width: 440px;
}

.post_meta {
	width: 460px;
	padding-bottom: 4px;
}

.post_text p, .post_text ul, .post_text ol, .post_text table {
    margin-bottom: 1em;
}

.post_text dd {
	margin-left: 2em;
}

.post_text table {
	border-collapse: collapse;
}

.post_text th, .post_text td {
	padding: 0 4px;
}

.tags ul {
	display: inline;
}

.tags li {
	display: inline;
	list-style-type: none;
}

#content h2 {
	/*float: left;*/
}

/*.post_date {
	position: relative;
	left: -520px;
}*/

.read_more_container {
	margin-left: 2em;
}

.read_more:after {
	content: " \2192";
}

.center {
	text-align: center;
}

img.border {
    border: 1px dashed #ddd;
    margin: 2px;
}