/* Layout */

/* Resets */

body, h1, h2, h3, p, ol, ul, li, dl, pre {
	margin: 0;
	padding: 0;
}

/* Grid system */

.fluid_700 {
	max-width: 720px;
	margin: 0 auto;
}

.column {
	padding: 0 10px;
}

.one.column, .two.column {
	float: left;
}

.one {
	width: 220px;
}

.two {
	width: 460px;
}

.three {
	width: 700px;
}

.two.fluid {
	width: auto;
	min-width: 220px;
	max-width: 460px;
}

.three.fluid {
	width: auto;
	min-width: 220px;
	max-width: 700px;
}

.clear {
	clear: left;
}

.section {
	padding-bottom: 20px;
}

.center {
	text-align: center;
}

img.border {
    border: 1px dashed #ddd;
    margin: 2px;
}

/* Header */

#header {
	padding: 30px 0 10px;
}

#header h1 {
	text-indent: -9999px;
	overflow: hidden;
}

#header h1 a {
	display: block;
	width: 220px;
	height: 30px;
}

#description {
	line-height: 40px;
	height: 30px;
}

/* Navigation */

.nav {
	padding-bottom: 30px;
}

.nav  li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
	padding: 2px 0;
}

/* Content */

#content h2 {
	margin-bottom: 20px;
	clear: left;
}

#content h3 {
	margin-bottom: 18px;
}

/* Footer */

#footer {
	padding: 10px 0;
}

/* Panels */

.panels li {
	width: 220px;
	height: 160px;
	padding: 0 10px;
	float: left;
	list-style-type: none;
}

li.panel {
	height: 296px;
}

a.panel h3 {
	padding-top: 145px;
	margin-bottom: 0 !important;
}

a.panel {
	display: block;
	width: 220px;
	position: relative;
	left: -10px;
	top: -10px;
	padding: 10px;
	margin-bottom: -10px;
	background-position: 10px 10px;
}

/* Text */

.post_text p, .post_text ul, .post_text ol, .post_text dl, .post_text table, .post_text pre {
    margin-bottom: 18px;
}

.post_text dd, .post_text blockquote, .post_text table {
	margin-left: 20px;
}

.post_text table {
	border-collapse: collapse;
}

.post_text th, .post_text td {
	padding: 0 4px;
}

.post_text code {
	padding: 0 2px;
}

/* Meta */

.post_meta {
	margin-bottom: 20px;
}

/* Tags */

ul.tags {
	display: inline;
}

ul.tags li {
	display: inline;
	list-style-type: none;
}

/* Pagination */

a[rel="prev"]:before {
	content: "\2190  ";
}

a[rel="next"]:after {
	content: " \2192";
}

/* Tumblr Ream More link */

.read_more_container {
	margin-left: 20px;
}

.read_more:after {
	content: " \2192";
}

/* Tumblr notes */

ol.notes {
    list-style-type: none;
    margin-top: 20px;
}

ol.notes img {
    border: none;
    vertical-align: middle;
}

/* */

#comment_count {
    margin-top: 20px;
}
