/* Layout */

.center_700 {
	width: 700px;
	margin: 0 auto;
}

body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

#header {
	padding: 10px;
}

#header h1 {
	margin-bottom: 10px;
}

.nav {
	margin-bottom: 40px;
	padding: 5px 0;
}

.nav  li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
}

#content h2 {
	margin-bottom: 20px;
	clear: left;
}

#footer {
	padding: 10px;
}

.clear {
	clear: left;
}

.grid_1 {
	width: 220px;
	float: left;
}

.grid_2 {
	margin-left: 240px;
}

.section {
	padding-bottom: 20px;
}

.panels {
	width: 720px;
}

.panels li {
	width: 220px;
	margin: 0 20px 20px 0;
	height: 276px;
	float: left;
	list-style-type: none;
}

a.panel {
	display: block;
	width: 220px;
}

.panels h3 {
	padding-top: 145px;
}
