/* Layout */

body, h1, h2, h3, p, ol, ul, li, dl, pre {
	margin: 0;
	padding: 0;
}

iframe { border: none; }

/* Grid system */

.fluid_700 {
	max-width: 720px;
	margin: 0 auto;
}

.column {
	padding: 0 10px;
}

.one.column, .two.column {
	float: left;
}

.one {
	width: 220px;
}

.two {
	width: 460px;
}

.three {
	width: 700px;
}

.two.fluid {
	width: auto;
	min-width: 220px;
	max-width: 460px;
}

.three.fluid {
	width: auto;
	min-width: 220px;
	max-width: 700px;
}

.clear {
	clear: left;
}

/* Generic */

.section {
	padding-bottom: 20px;
}

.center {
	text-align: center;
}

img.border {
    border: 1px dashed #ddd;
    margin: 2px;
}

.pad_bottom {
	padding-bottom: 30px;
}

.pad_top {
	padding-top: 30px;
}

/* Header */

#header {
	padding: 30px 0 10px;
}

#header h1 {
	text-indent: -9999px;
	overflow: hidden;
}

#header h1 a {
	display: block;
	width: 220px;
	height: 30px;
}

#description {
	line-height: 40px;
	height: 30px;
}

/* Navigation */

.nav  li {
	list-style-type: none;
	float: left;
	margin-right: 20px;
	padding: 2px 0;
}

/* Content */

#content h2 {
	margin-bottom: 20px;
	clear: left;
}

#content h3 {
	margin-bottom: 18px;
}

#content pre {
	max-width: 680px;
	margin-right: -480px;
}

/* Footer */

#footer {
	padding: 10px 0;
}

/* Panels */

.panels li {
	width: 220px;
	height: 160px;
	padding: 0 10px;
	float: left;
	list-style-type: none;
}

li.panel {
	height: 296px;
}

a.panel h3 {
	padding-top: 145px;
	margin-bottom: 0 !important;
}

a.panel {
	display: block;
	width: 220px;
	position: relative;
	left: -10px;
	top: -10px;
	padding: 10px;
	margin-bottom: -10px;
	background-position: 10px 10px;
}

/* Text */

.post_text p, .post_text ul, .post_text ol, .post_text dl, .post_text table, .post_text pre {
    margin-bottom: 18px;
}

.post_text dd, .post_text blockquote, .post_text table, .post_text pre {
	margin-left: 20px;
}

.post_text table {
	border-collapse: collapse;
}

.post_text th, .post_text td {
	padding: 0 4px;
}

.post_text code {
	padding: 0 2px;
}

.post_text a img {
	border: none;
}

/* Meta */

.post_meta {
	margin-bottom: 20px;
}

/* Date */

.date {
    clear: left;
    display: block;
    width: 45px;
	margin-bottom: 5px;
	line-height: 17px;
}

.date span {
    display: block;
    text-align: center;
}

.date_month {
    background: url(i/date_month_bg.png);
	height: 17px;
}

.date_day {
    font-size: 20px;
    font-weight: bold;
    background: #eee url(i/date_day_bg.png) repeat-y;
    padding: 5px 0;
}

.date_comma {
    display: none !important;
}

.date_year {
    background: url(i/date_year_bg.png);
	height: 17px;
}

/* Tags */

ul.tags {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.tags li {
	float: left;
	height: 17px;
	line-height: 17px;
	background: url(i/tag_bg.png) no-repeat;
	margin: 0 2px 2px 0;
}

ul.tags a {
	display: inline-block;
	height: 17px;
	padding: 0 10px 0 5px;
	background: url(i/tag_tip.png) 100% 0 no-repeat;
}

/* Comment counts */

.comment_count {
	display: none;
	width: 30px;
	line-height: 17px;
	text-align: center;
	background: url(i/comments_bg.png) no-repeat;
}

/* Pagination */

a[rel="prev"]:before {
	content: "\2190  ";
}

a[rel="next"]:after {
	content: " \2192";
}

/* Tumblr Read More link */

.read_more_container {
	margin-left: 20px;
}

.read_more:after {
	content: " \2192";
}

/* Tumblr notes */

ol.notes {
    list-style-type: none;
}

ol.notes img {
    border: none;
    vertical-align: middle;
}

/* Handheld overrides */

@media screen and (max-device-width: 240px) {
    .fluid_700 {
        max-width: 240px;
    }
}

@media screen and (min-device-width: 241px) and (max-device-width: 480px) {
    .fluid_700 {
        max-width: 480px;
    }
}

/* Typography */

body  {
	font: 14px/18px Segoe, "Segoe UI", "Helvetica Neue", "Lucida Sans", Arial, sans-serif;
}

a {
	text-decoration: none;
}

#header h1 {
    font-size: 35px;
	text-transform: uppercase;
}

#description {
	font-style: italic;
}

#content h2 {
	font-size: 22px;
    line-height: 24px;
}

#footer {
	font-size: 12px;
}

.post_text code, .post_text pre {
	font: 14px/16px "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

.post_text dt {
	font-weight: bold;
}

.post_meta {
	font-size: 12px;
}

h2, h3, h4, dt, th, blockquote {
	font-style: italic;
}

h3 {
	font-size: 16px;
}

#latest_tweet {
	font-size: 12px;
	line-height: 14px;
	margin-top: 5px;
}

/* Colors and backgrounds */

body {
	background: #333;
	color: #333;
}

.show_grid .fluid_700 {
	background: url(i/fluid_720_rhythm_18.gif);
}

#header, #footer {
	color: #ccc;
}

#content {
	background: #fff;
}

a {
	color: #31A3C8;
}

a:visited {
	color: #5E8C9B;
}

a:hover {
	color: #5B31C8;
}

a:active {
	color: #333;
}

pre {
	color: #524080;
}

#content ::selection {
	color: #524080;
	background: #EEE8FF;
}

#content ::-moz-selection {
	color: #524080;
	background: #EEE8FF;
}

#header h1 a {
	background: url(i/logo_sprites.gif);
}

#header h1 a:hover {
	background-position: 0 -30px;
}

#title_desc.blog {
	background: url(i/desc_blog.gif) 100% 100% no-repeat;
}

#header a:hover, #footer a:hover {
	color: #fff;
}

li.panel {
	background: url(i/loading_white.gif) 50% 52px no-repeat;
}

a.panel {
	background-repeat: no-repeat;
}

a.panel:hover {
	background-color: #eee;
	color: #666;
}

.top_border {
	border-top: 1px solid #ccc;
}

.post_text code {
	background: #EEE8FF;
	color: #524080;
}

.post_text table {
	border: solid #D1C0FF;
	border-width: 1px 1px 0 0;
}

.post_text th, .post_text td {
	background: #fff;
	border: solid #D1C0FF;
	border-width: 0 0 1px 1px;
}

.post_text th {
	color: #524080;
	background: #EEE8FF;
}

#content p.error {
	padding-bottom: 240px;
	background: url(i/sad.gif) 50% 100% no-repeat;
}

#tweet_meta {
	margin-top: 5px;
}

.flat {
	height: 1px;
	overflow: hidden;
	text-indent: -9999px;
}
