/* Typography */

body  {
	font: 87.5%/1.2 Segoe, "Segoe UI", "Helvetica Neue", "Lucida Sans", Arial, sans-serif;
}

a {
	text-decoration: none;
}

#header, #footer {
	/*font-size: 85.7%;*/
}

#header h1 {
    font-size: 300%;
}

#content h2 {
	font-size: 150%;
}

h3 {
	font-style: italic;
}
