/* Typography */

body  {
	font: 14px/1.2 Segoe, "Segoe UI", "Helvetica Neue", "Lucida Sans", Arial, sans-serif;
}

a {
	text-decoration: none;
}

#header h1 {
    font-size: 275%;
	text-transform: uppercase;
}

#content h2 {
	font-size: 150%;
}

.post_text code, .post_text pre {
	font: 14px "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

.syntaxhighlighter {
	font-size: 14px !important;
}

h3 {
	font-style: italic;
}
