/* Typography */

body  {
	font: 87.5%/1.2 Segoe, "Segoe UI", "Helvetica Neue", "Lucida Sans", Arial, sans-serif;
}

a {
	text-decoration: none;
}

#header h1 {
    font-size: 250%;
}

#content h2 {
	font-size: 150%;
}

.entry code, .entry pre {
	font: 87.5% "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

.syntaxhighlighter {
	font-size: 87.5% !important;
}

h3 {
	font-style: italic;
}
