/* Base elements */

body, input, textarea
{
    font: 13px "Trebuchet MS";
    color: #484D12;
}

input[type=text], textarea
{
    padding: 0 3px;
    margin: 0;
}

body
{
    margin: 0;
    /*padding: 15px;*/
    padding: 0;
}

h3
{
    color: #626A0A;
    font-size: 15px;
    margin: 0;
    font-family: Palatino, "Palatino Linotype";
    border-bottom: 2px solid #CED6BA;
}

h2
{
    color: #C70F43;
    padding-bottom: 1px;
    border-bottom: 1px solid #C70F43;
    font-size: 17px;
    white-space: nowrap;
    ztext-transform: uppercase;
    letter-spacing: 1px;
    font-family: Palatino, "Palatino Linotype";
    background-image: url(i/h_bg.gif);
    background-position: bottom;
    background-repeat: repeat-x;
}

a
{
    color: #FD6081;
    text-decoration: none;
}

a:hover
{
    color: #C70F43;
    text-decoration: underline;
}

/* Common modifiers */

.hidden /* name! */
{
    display: none;
}

.warn
{
    color: #FF3700;
}

/* Nodes */

.fs_node
{
    padding-left: 8px;
    clear: left;
/*
    background-image: url(i/connector.gif);
    background-repeat: no-repeat;
    background-position: 0 7px; */

    background-image: url(i/connector_v.gif);
    background-repeat: repeat-y;
    background-position: 12px 0;
}

.fs_icon
{
    float: left;
}

.fs_cap
{
    padding-left: 3px;
    float: left;
}

.fs_icon img
{
    width: 9px;
    height: 9px;
    border: none;
}

.fs_branch
{
    clear: left;
    margin-left: 4px;
    padding-left: 0;
    xborder-left: 1px dashed #e0e0e0;
}
 
/* Forms */

form /* nec? */
{
    padding: 0;
    margin: 0;
}

.button
{
    text-align: center;
}

/* Context menus */

.menu
{
    width: 150px;
    position: absolute !important;
    display: none;
    font-size: 11px;
}

.menu .inner
{
    padding: 3px;
    background-color: #F3FFEB;
    border: 1px solid #8F9924;
}

.menu .outer
{
    border: solid #484D12;
    border-width: 0 1px 1px 0;
}

.menu a
{
    color: #484D12;
    display: block;
}

.menu a:hover
{
    background-color: #BEC8A3;
    text-decoration: none;
}

.menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li a
{
    padding-left: 15px;
}

.disabled
{
    color: #c0c0c0;
}

.menu li hr
{
    border: none;
    border-top: 1px solid #BEC8A3;
    margin: 3px 0;
}

/* Tabbed pages */

.tabs
{
    white-space: nowrap;
    padding-top: 10px;
    background-color: #BEC8A3;
    border: 1px solid #8F9924;
    border-bottom: none;
    background-image: url(i/tab_bg2.gif);
    font-size: 11px;
}

.tabs span
{
    color: #8F9924;
    border: 1px solid #8F9924;
    border-bottom-color: white;
    background-color: white;
    padding: 0 5px;
    position: relative;
    z-index: 2;
    xtop: 1px;
}

.fixed_header
{
    position: fixed;
    width: 100%;
}

.tabbed_page /* name! */
{
    background-color: white;
    border-top: 1px solid #8F9924;
    position: relative;
    z-index: 1;
    height: 3px;
}

.header
{
    background-color: white;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0;
}

.tabs a
{
    text-decoration: none;
    position: relative;
    z-index: 0;
}

.tabs a span
{
    color: #484D12;
    background-color: #F3FFEB;
    padding-bottom: 3px;
}

.tabs a:hover
{
    color: #8F9924;
    background-color: white; /* For IE */
    top: -3px;
    text-decoration: none;
}

.tree_container
{
    padding: 20px;
    /*padding-top: 10px;*/
    padding-top: 90px;
    font-size: 11px;
    /*border-bottom: 1px dashed #e0e0e0;
    padding-bottom: 0;*/
}

.form
{
    padding: 20px;
    padding-top: 10px;
    width: 560px;
}

.preview
{
    display: none;
    xborder-right: 1px solid #8F9924;
}

.preview_img
{
    padding: 5px;
    border: 1px solid #CED6BA;
    background-image: url(i/file_bg.gif);
}

.preview_iframe
{
    border: 1px solid #CED6BA;
    width: 550px;
    height: 300px;
}

.cleared
{
    clear: left;
    line-height: 0;
}

.fixed_w
{
    background-color: #e0e0e0;
    background-image: url(i/fixed_bg.gif);
    background-repeat: repeat-y;
}

.fixed_w .tabs
{
    width: 599px;
}

.fixed_w .tabbed_page
{
    width: 600px;
}

.fixed_w .fit_hor
{
    width: 550px;
}

.file
{
    background-image: url(i/file_bg.gif);
}