---
---

// Typography

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  font-family: "Varela Round", Arial, sans-serif;
}

// Colors

body {
  background-color: #1a091a; /* very dark violet, almost black */
  color: #f5ddf5; /* light pink, almost white */
}

a {
  color: #7f50ff; /* moderate violet */
}

// Sizes

body {
  font-size: 1rem; /* equals 16px for most browsers */
  line-height: 1.5; /* equals 24px */
}

h1 {
  font-size: 2rem; /* 32px */
  line-height: 1.5rem; /* 24px */
}

h2 {
  font-size: 1.75rem; /* 28px */
  line-height: 1.714rem; /* closest to 24px while being an even number */
}

h3 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

h4 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.2rem; /* closest to 24px while being an even number */
}

h5 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

h6 {
  font-size: 0.875rem; /* 14px */
  line-height: 1.714rem; /* closest to 24px while being an even number */
}

p,
li,
dd {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

dt {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: bold;
}

.meta {
  font-size: 0.75rem;
  line-height: 1.5;
}

// Spacing

body {
  padding: 2rem; /* 32px */
}

// Links

a {
  color: #7f50ff; /* moderate violet */
  text-decoration: none; /* removes underline */
  transition: color 0.3s ease, text-decoration 0.3s ease; /* adds transition */
}

a:hover {
  color: #ff7f50; /* changes color on hover, to a vibrant coral */
  text-decoration: underline; /* adds underline on hover */
}

a:active {
  color: #50ffab;
}

// Layout

.markdown-body {
  max-width: 50rem;
  margin: auto;
}

.image-240x135 > img {
  float: left;
  width: 240px;
  height: 135px;
  margin-right: 16px; /* Get it to 256x144, in 24px vertical rhythm */
}

@media (max-width: 40rem) {
  .image-240x135 > img {
    float: none;
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}

hr {
  clear: left;
  border: 0;
  margin: 0;
}

// Decor

img {
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.1);
}

// Detects user preference for light mode
@media (prefers-color-scheme: light) {

  // Typography remains the same

  // Colors

  body {
    background-color: #faf0e6; /* light beige as a light alternative for the very dark violet */
    color: #080808; /* almost black as a light alternative for light pink */
  }

  a {
    color: #6a5acd; /* slate blue as a light alternative for moderate violet */
  }

  // Sizes remain the same

  // Links

  a {
    color: #6a5acd; /* slate blue as a light alternative for moderate violet */
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }

  a:hover {
    color: #9ACD32; /* yellow green */
    text-decoration: underline;
  }

  a:active {
    color: #C71585; /* green yellow as a light alternative for vibrant green */
  }

  // Layout remains the same

  // Decor

  img {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1); /* add a little black shadow as an alternative for white */
  }
}
