---
---

// Typography

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  font-family: "Varela Round", Arial, sans-serif;
}

// Colors

body {
  background-color: #1a091a; /* very dark violet, almost black */
  color: #f5ddf5; /* light pink, almost white */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #84ddff;
}

// Sizes

body {
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  line-height: 1.5rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.714rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.2rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.714rem;
}

p,
li,
dd {
  font-size: 1rem;
  line-height: 1.5rem;
}

dt {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
}

.meta {
  font-size: 0.75rem;
  line-height: 1.5;
}

// Spacing

body {
  margin: 0;
  padding: 2rem;
}

ul,
ol {
  padding-left: 1rem;
}

// Links

a {
  color: #a484ff;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: #ffa484;
  text-decoration: underline;
}

a:active {
  color: #84ffa4;
}

// Layout

.markdown-body {
  max-width: 50rem;
  margin: auto;
}

.image-240x135 {
  & > img {
    float: left;
    width: 240px;
    height: 135px;
    margin-right: 16px; /* Get it to 256x144, in 24px vertical rhythm */
  }
}

.avatar {
  & > img {
    float: left;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    margin-right: 16px; /* Get it to 256x144, in 24px vertical rhythm */
  }
}

@media (max-width: 40rem) {
  .avatar {
    text-align: center;

    & > img {
      float: none;
      margin-right: 0;
    }
  }

  h1 {
    text-align: center;
  }

  .image-240x135 {
    & > img {
      float: none;
      width: 100%;
      height: auto;
      margin-right: 0;
    }
  }
}

hr {
  clear: left;
  border: 0;
  margin: 0;
}

// Decor

img {
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.1);
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -0.25rem;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background: #84ddff;
  }
}

@media (min-width: 64rem) {
  .avatar {
    & > img {
      position: absolute;
      width: 4rem;
      height: 4rem;
      border-radius: 2rem;
      margin-left: -6rem;
    }
  }

  // h1 {
  //   position: relative;

  //   &:before {
  //     content: "";
  //     position: absolute;
  //     display: block;
  //     width: 3rem;
  //     height: 3rem;
  //     border-radius: 1.5rem;
  //     background: url(/assets/css/avatar.png);
  //     background-size: contain;
  //     left: -5rem;
  //     top: -0.75rem;
  //   }
  // }

  h3 {
    position: absolute;
    margin-left: -6rem;
    text-align: right;

    &:before {
      display: none;
    }
  }
}
