.jash_cmnt {
    color: gray;
    font-style: italic;
}

.jash_str {
    color: magenta;
}

.jash_re, .jash_clr {
    color: orange;
}

.jash_obj, .jash_comp, .jash_cls {
    color: red;
}

.jash_pv, .jash_cnst {
    color: purple;
}

.jash_so, .jash_pri {
    color: blue;
    font-weight: bold;
}

.jash_bool {
    color: maroon;
    font-weight: bold;
}

.jash_num {
    color: teal;
}

.jash_sys {
    color: green;
}
